*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-style: italic;
}
.css-b62m3t-container{
  width: 65%;
}
.css-sl4pg4-control{
  width: 30% !important;
}
.css-1mi3hag-control{
  width: 100%;
}
.btnNormal{
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}